body{
    background: #e8bc37;
}

.batid-feed{
    width:400px;
    position:absolute;
    float:left;
}

.batid-map{
    position:absolute;
    float:right;
    margin:0 auto;
     right:0;top:0;bottom:0;
    box-sizing: border-box;
    padding:.5em;
}

#batid-map{
    width: 700px;
    height: 500px;
}